#submitBtn
{
	background-color: red;
	color:white;
	font-size: 38px;
	height: 80px;
	width: 135px;
	margin-top:10px;
	margin-bottom:10px;
}

.button
{
	background-color: teal;
	color: white;
	height:40px;
	width:60px;
}