#submitBtn
{
	text-align: center;
	background-color: red;
	color:white;
	font-size: 38px;
	height: 80px;
	width: 135px;
	margin-top:10px;
	margin-bottom:10px;
}

.buttons
{
	display: inline-block;
	text-align: center;
	font-size: 18px;
	background-color: teal;
	color: white;
	height:40px;
	margin:5px;
	padding:5px;
}

.giffyGifs
{
	display:inline-block;
	float:left;
}